*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
}

*:focus-visible {
	outline: 3px solid var(--hover);
	outline-offset: 5px;
}

html::-webkit-scrollbar {
	width: 6px;
}

html::-webkit-scrollbar-track {
	background: var(--bg-body);
}

html::-webkit-scrollbar-thumb {
	background: var(--hover);
}

html::-ms-scrollbar {
	width: 6px;
}

html::-ms-scrollbar-track {
	background: var(--bg-body);
}

html::-ms-scrollbar-thumb {
	background: var(--hover);
}

html {
	scrollbar-width: thin;
	scrollbar-color: var(--hover) var(--bg-body);
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
	text-decoration: none;
}

ul,
ol,
li {
	list-style: none;
}

img {
	vertical-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

html,
body {
	height: 100%;
	line-height: 1;
	font-size: 16px;
	color: #000;
}