:root {
	--bg-body: #fcf6f6;
	--color-title: #222;
	--color-sub-title: #111;
	--size-title: 46px;
	--size-sub-title: 20px;
	--letter-spacing-title: 0.9px;
	--letter-spacing-sub-title: 0.5px;
	--weight-regular: 400;
	--weight-medium: 500;
	--weight-bold: 700;
	--weight-extra-bold: 800;
	--tt-norms-pro: 'TTNormsPro', sans-serif;
	--transition: 0.3s;
	--hover: #ff683f;
}