@use '../../abstracts/colors';
@use '../../abstracts/fonts';
@use '../../abstracts/sizes';

.page-footer {
	padding: 32px 0 70px 0;
	background: colors.$color-title;
	letter-spacing: fonts.$letter-spacing-title;

	&__container {
		padding: 0 70px;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
	}

	&__item {
		margin: 38px 0 0 0;
		flex: 0 0 320px;
	}

	&__title {
		font-weight: fonts.$weight-bold;
		font-size: 18px;
		color: #fff;
		letter-spacing: 1px;
	}

	&__sub-title {
		margin: 6px 0 0 0;
		font-weight: fonts.$weight-medium;
		font-size: 14px;
		color: #aaa;
		letter-spacing: fonts.$letter-spacing-title;
	}

	&__bottom {
		margin: 38px 0 0 0;
	}

	&__icons {
		display: flex;
		align-items: center;
	}

	&__link-svg {
		margin: 0 15px 0 0;

		& .page-footer__icon path {
			transition: sizes.$transition;
		}

		&:hover .page-footer__icon path {
			fill: colors.$hover;
		}

		&:active .page-footer__icon path {
			fill: #fff;
			transition: 0s;
		}

		&:visited .page-footer__icon path {
			fill: #fff;
		}
	}

	&__icon {
		width: 50px;
		height: 50px;
		fill: #fff;
	}
}