@use '../../abstracts/colors';
@use '../../abstracts/fonts';
@use '../../abstracts/sizes';

.page-materials {
	&__block {
		margin: 65px 0 0 0;
	}

	&__title {
		font-weight: fonts.$weight-extra-bold;
		font-size: 24px;
		letter-spacing: fonts.$letter-spacing-title;
		color: colors.$color-title;
	}

	&__item {
		margin: 20px 0;
	}

	&__link {
		margin: 20px 0;
		position: relative;
		font-weight: fonts.$weight-medium;
		font-size: 18px;
		letter-spacing: fonts.$letter-spacing-sub-title;
		color: colors.$color-sub-title;

		&::before {
			content: '';
			width: 0;
			height: 150%;
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			background: colors.$hover;
			transition: sizes.$transition;
			z-index: -1;
		}

		&:hover::before {
			width: 100%;
		}
	}
}