@media (max-width: 400px) {

	/********** page materials **********/
	.page-materials {
		&__title {
			font-size: 22px;
		}

		&__link {
			font-size: 16px;
		}
	}
}

@media (max-width: 355px) {

	/********** page materials **********/
	.page-materials {
		&__item {
			margin: 18px 0;
		}

		&__title {
			font-size: 21px;
		}

		&__link {
			margin: 18px 0;
			font-size: 14px;
		}
	}
}