@media (max-width: 900px) {

	/********** page contact **********/
	.page-contact {
		&__container {
			flex-direction: column;
		}

		&__google-map {
			padding: 50px 0 0 0;
		}
	}
}

@media (max-width: 768px) {

	/********** page contact **********/
	.page-contact__google-map {
		max-height: 350px;
	}
}