@font-face {
	font-weight: 500;
	font-family: 'TTNormsPro';
	font-style: normal;
	font-display: swap;
	src: url('../fonts/tt-norms-pro-medium.woff') format('woff');
}

@font-face {
	font-weight: 800;
	font-family: 'TTNormsPro';
	font-style: normal;
	font-display: swap;
	src: url('../fonts/tt-norms-pro-extra-bold.woff') format('woff');
}