@use 'abstracts/_colors';
@use 'abstracts/_fonts';
@use 'abstracts/_sizes';

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

*:focus-visible {
	outline: 3px solid colors.$hover;
	outline-offset: 5px;
}

html {
	scroll-behavior: smooth;
	scrollbar-width: thin;
	scrollbar-color: colors.$hover colors.$bg-body;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

	&::-webkit-scrollbar {
		width: 6px;
	}

	&::-webkit-scrollbar-track {
		background: colors.$bg-body;
	}

	&::-webkit-scrollbar-thumb {
		background: colors.$hover;
	}

	&::-ms-scrollbar {
		width: 6px;
	}

	&::-ms-scrollbar-track {
		background: colors.$bg-body;
	}

	&::-ms-scrollbar-thumb {
		background: colors.$hover;
	}
}

a {
	text-decoration: none;
}

ul,
ol,
li {
	list-style-type: none;
}

img {
	vertical-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

html,
body {
	height: 100%;
	line-height: 1;
	font-size: 16px;
	color: #000;
}

body {
	background: colors.$bg-body;
	font-family: fonts.$tt-norms-pro;
	-webkit-font-smoothing: antialiased;

	&.lock {
		overflow: hidden;
	}
}