@use '../../abstracts/colors';
@use '../../abstracts/fonts';
@use '../../abstracts/sizes';

.page-physics {
	&__container {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	&__list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		width: 100%;
		margin: 15px 75px 0 75px;
	}

	&__item {
		margin: 45px 0 0 0;
	}

	&__title-wrap {
		display: flex;
		align-items: center;
	}

	&__title {
		margin: 0 0 15px 0;
		font-size: 28px;
		text-align: left;
	}

	&__video {
		width: 300px;
		height: 168px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: url(../../../img/noise.png) center no-repeat;
		border: 4px solid #333;
		cursor: pointer;
		transition: sizes.$transition;
	}

	&__btn {
		width: 75px;
		height: 75px;
		background: colors.$color-title;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: sizes.$transition;
	}

	&__comparison {
		margin: 100px 0 0 0;

		&-block {
			margin: 60px 0 0 0;
			display: flex;
			justify-content: space-between;
		}

		&-item {
			flex: 0 1 815px;
			margin: 0 0 0 100px;

			&-title {
				font-size: 36px;
				text-align: left;
			}

			&-sub-title {
				margin: 15px 0 0 0;
			}
		}

		&-svg {
			flex: 0 0 256px;
		}
	}

	&__video-player-wrap {
		width: 100%;
		height: 100%;
		display: none;
		justify-content: center;
		align-items: center;
		position: fixed;
		top: 0;
		left: 0;
		background: rgba(0, 0, 0, 0.94);
		transition: sizes.$transition;
		z-index: 28;
		padding: 0 20px;

		&.active {
			display: flex;
		}

		&>video {
			display: none;
			max-width: 920px;
		}
	}

	&__btn-exit-wrap {
		background: rgba(0, 0, 0, 0.94);
	}

	&__btn-exit span,
	&__btn-exit::after {
		background: #fff;
	}
}